@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body,
pre,
code,
kbd,
samp {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(179, 172, 185);
}

body{
    background-color: burlywood;
}

.pad10{
    padding-top: 10px;
    padding-bottom: 10px;
}