
/* General Stylings across page*/
.main,
.mobile-box-bottom,
.switch-box,
.pre-release{
    background-color: #971A0C;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Quote on Main Reception page*/
.quote{
   background-color: #1E1B22;
   color: white;
}

blockquote{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}

/* stylings for text boxes*/
.mobile-box-top{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    font-size: large;
}

.mobile-box-bottom{
    padding: 30px;
}

/* Switch container with embedded video */
.switch-container{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: large;
}
