/* Extra unique styling for 'S-T-A-R_team.html' */


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* root */
:root {
    -–color0: #1E1B22;
    -–color1: #092327;
    -–color2: #971A0C;
    -–color3: #D1D3C4;
    --color4: #DFE0DC;
}

/* 'mainSection' class */
.mainSection {
    background-color: #971A0C;
    color: white;
    border-radius: 20px;
}

/* 'justifiedText' class on 'p' tags */
p.justifiedText {
    text-align: justify;
}

/* 'teamLogoDiv' class */
.teamLogoDiv {
    background-color: transparent;
    border-radius: 30px;
    /* width: 500px; */
    /* height: 300px; */
}

/* 'teamLogo' class */
.teamLogo {
    border-radius: 30px;
    width: 150px;
    height: 300px;
}

/* h2 tags */
h2 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}